.App {
  text-align: center;
}

.Nav {
  box-sizing: border-box;
  height: 9.5vh;
  width: 100%;
  background-color: white;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.backgroundPic {
  height: 94vh;
  width: 100%;
  background-image: url("https://us.coca-cola.com/content/dam/coke2016/jan-homepage-refresh/januaryHomepageRefresh_DesktopHero.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  box-sizing: border-box;
  height: 52vh;
  width: 100%;
  background-color: red;
}
